<ion-content [fullscreen]="true">
  <div class="card-center">
    <ion-card class="card-center__main">

      <img alt="coink regalo" src="../../assets/marrano regalo.png" />

      <ion-card-header class="card-center__main__header">
        <ion-card-title class="card-center__main__header__title">¡Bienvenido a Coink!</ion-card-title>
      </ion-card-header>

      <ion-card-content class="card-center__main__content">
        ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!
      </ion-card-content>
      <ion-button class="card-center__main__btn-continue" shape="round" expand="block">CONTINUAR</ion-button>
    </ion-card>
  </div>

</ion-content>