/* numeric-keyboard.component.scss */
ion-grid {
    height: 100%;
    /* Asegura que el grid ocupe todo el espacio disponible */
}

ion-row {
    flex: 1;
    display: flex;
    justify-content: center;

    ion-col {
        display: flex;
        justify-content: center;
        height: 75px;

        ion-button {
            --background: #ffffff;
            --box-shadow: none;

        }
    }
}

.enter {
    --background: #1EEA00 !important;
}